<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/announcementTemplate.css">
    <title>Announcements</title>
</head>
<body>
    <div class="header">
        <div class="headerTitle">
            <h1>Οργανισμός Εκπαίδευσης</h1>
        </div>
        <div class="navMenu">
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/announcement">Announcements</a></li>
                <li><a href="/video">Videos</a></li>
                <li><a href="/image">Images</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="pageName">
            <h1> IEK Delta 360</h1>
        </div>

        <div class="article">
            <p>
                Education, Branding, Communication, Digital, Naming, Retail <br>
                <img src="../assets/pic5.png" alt="Picture 5"><br>
                IEK DELTA 360 is an educational center of practical studies with a number of branches in Greece. 
                We created the new identity, stationary system, full communication, brand assets, environmental design, 
                & way finding, 2D animations, an original pool of photographic material, typography and colour palette among others. 
                Services provided: Brand identity, stationary system, full communication, brand assets, environmental design, & way finding, 
                2D animations, an original pool of photographic material, typography and colour palette among others.
            </p>
        </div>
    <div class="footer">
        <p>Designed By Skot. All Rights Reserved®</p>
    </div>
</body>
</html>