<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/image.css">
    <title>Images</title>
</head>
<body>
    <div class="header">
        <div class="headerTitle">
            <h1>Οργανισμός Εκπαίδευσης</h1>
        </div>
        <div class="navMenu">
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/announcement">Announcements</a></li>
                <li><a href="/video">Videos</a></li>
                <li><a href="/image">Images</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="pageName">
            <h1>Images</h1>
        </div>
        <div class="images">
            <ul>
                <li class="imageTitle">Image 1</li>
                <li><img src="assets/pic1.png" alt="Picture 1"></li>
            </ul>

            <ul>
                <li class="imageTitle">Image 2</li>
                <li><img src="assets/pic2.png" alt="Picture 2"></li>
            </ul>

            <ul>
                <li class="imageTitle">Image 3</li>
                <li><img src="assets/pic3.png" alt="Picture 3"></li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <p>Designed By Skot. All Rights Reserved®</p>
    </div>
</body>
</html>