<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Εκπαιδευτικός Οργανισμός</title>
</head>

<body>
    <div class="header">
        <div class="headerTitle">
            <h1>Οργανισμός Εκπαίδευσης</h1>
        </div>
        <div class="navMenu">
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/announcement">Announcements</a></li>
                <li><a href="/video">Videos</a></li>
                <li><a href="/image">Images</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="pageName">
            <h1>Αρχική</h1>
        </div>
        <p>Καλωσήρθατε στον Εκπαιδευτικό Οργανισμό μας.</p>

    </div>

    <div class="footer">
        <p>Designed By Skot. All Rights Reserved®</p>
    </div>

</body>

</html>