<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/video.css">
    <title>Videos</title>
</head>

<body>
    <div class="header">
        <div class="headerTitle">
            <h1>Οργανισμός Εκπαίδευσης</h1>
        </div>
        <div class="navMenu">
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/announcement">Announcements</a></li>
                <li><a href="/video">Videos</a></li>
                <li><a href="/image">Images</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="pageName">
            <h1>Videos</h1>
        </div>
        <div class="videos">
            <ul>
                <li class="videoTitle">Video 1</li>
                <li><iframe width="360" height="115" src="https://www.youtube.com/embed/lh0LnN0Cw2g?si=IqmQB77i1boIpoS0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></li>
            </ul>

            <ul>
                <li class="videoTitle">Video 2</li>
                <li><iframe width="560" height="315" src="https://www.youtube.com/embed/ApHL4mVUln0?si=Q7AjBdUuY7tS18bj"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></li>
            </ul>

            <ul>
                <li class="videoTitle">Video 3</li>
                <li><iframe width="560" height="315" src="https://www.youtube.com/embed/0tcyiwF2Yms?si=fwulU46Zo1sShXov"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></li>
            </ul>
        </div>


    </div>

    <div class="footer">
        <p>Designed By Skot. All Rights Reserved®</p>
    </div>
</body>

</html>